html,
body {
	width: 100%;
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}

body {
	font-family: "PT Mono", "Inconsolata", Courier;
	font-size: 1.4rem;
	background-color: #222;
	color: #f7f7f7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 250%;
	/*border-bottom: 1px dashed #484848;*/
}

a {
	color: #1c7bff;
}

a:visited {
	color: #971cff;
}

.btn-icon {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.btn-cast {
	width: 4.4rem;
	height: 3.6rem;
	background-image: url("../images/icon-cast-white-44x36.png");
	background-image: url("../images/icon-cast-white-44x36.svg"), none;
	opacity: 0.4;
}

.btn-cast.available {
	opacity: 1;
}

.btn-cast.active {
	background-image: url("../images/icon-cast-connected-white-44x36.png");
	background-image: url("../images/icon-cast-connected-white-44x36.svg"), none;
}

.btn-play-pause {
	width: 4rem;
	height: 5rem;
	background-image: url("../images/icon-play-white-40x50.png");
	background-image: url("../images/icon-play-white-40x50.svg"), none;
}

.btn-play-pause.playing {
	background-image: url("../images/icon-pause-white-40x50.png");
	background-image: url("../images/icon-pause-white-40x50.svg"), none;
}

.sender {

}

.sender input {
	width: 100%;
}

.logs {

}

.logs .message-logs {
	width: 100%;
	min-height: 50rem;
}

.media-controls {
	opacity: 0.4;
}

.media-controls.active {
	opacity: 1;
}

.notes {

}
